#container { 
  position: relative;
  top:0;
  right:0px;
  height: 750px;
  width: auto;
  
}

#box {
  height: 180px;
  width: 500px;
  border-left: solid #6441a5 2px;
  position: relative; 
  margin: 50px 0 50px 450px;
  z-index: 10001;
}

#rectangle {
  position: absolute;
  margin: -230px 450px;
  width: 500px;
  height: 80px;
  background: #6441a5;
}

#triangle-topright {
  position: absolute; 
  margin: -150px 450px;
  border-top: 100px solid #6441a5;
  border-left: 500px solid transparent;
}

#header_h1 {
  margin: 15px 0 0 15px;
}

.live {
  position: relative;
}

h1 {
  position: absolute;
  top: -15px;
  left: 50px;
}

h4 {
  position: absolute;
  margin: 50px 40px;
}

#user_img { 
  height: 50px;
  width: auto;
  border-radius: 25px;
  padding: 8px;
  position: absolute;
}

.non_live_channel, .live {
  position: relative;
  border: 1px solid #6441a5;
}

.non_live_channel {
  height: 50px;
}

a {
  color:black; 
  text-decoration: none; 
}

a:hover {
  color: #6441a5; 
  text-decoration: none; 
  cursor: pointer;  
}
li {
  list-style-type: none;
}

li.live {
  position: relative;
  list-style-type: none;
  height: 90px;
}

#users {
  margin-top: 141px;
  margin-left: -2px;
  font-family: 'VT323', monospace; 
}

.live_status_circle {
  height: 20px;
  width: 20px;
  background: #FFE84C;
  border-radius: 50%; 
  float: right;
  margin: 10px;
}

.navbar-right {
  margin: 0 0 10px 10px;
}

#searchBox {
  height: 35px;
  margin-top: 140px;
  margin-left: -2px;
  border-left: 2px solid #6441a5;
  border-right: 2px solid #6441a5;
}

.dropdown-menu li {
  height: 30px;
}


